<%= form_for(@coordonnee) do |f| %>
  <% if @coordonnee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coordonnee.errors.count, "error") %> prohibited this coordonnee from being saved:</h2>

      <ul>
      <% @coordonnee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
