<h3>
  "#{@name}, merci pour votre reservation."
</h3>

<p>
  Numero de reference de la reservation:
  <strong>"#{@ref_number}."</strong>
</p><br>

<p>
  "Votre reservation #{@vol_info}.  Vous pouvez "
  <%= link_to "voir les details de votre reservation.", @url %>
</p><br>

<p>Merci pour votre confiance et bonne journée!</p><br>

<p>Cordialement,</p>
<p>Equipe reservation</p>