/* universal */
/* line 6, app/assets/stylesheets/custom.css.scss */
html {
  overflow-y: scroll;
}

/* line 10, app/assets/stylesheets/custom.css.scss */
body {
  padding-top: 60px;
}

/* line 14, app/assets/stylesheets/custom.css.scss */
section {
  overflow: auto;
}

/* line 18, app/assets/stylesheets/custom.css.scss */
textarea {
  resize: vertical;
}

/* line 22, app/assets/stylesheets/custom.css.scss */
.center {
  text-align: center;
}

/* line 24, app/assets/stylesheets/custom.css.scss */
.center h1 {
  margin-bottom: 10px;
}

/* typography */
/* line 31, app/assets/stylesheets/custom.css.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* line 35, app/assets/stylesheets/custom.css.scss */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 42, app/assets/stylesheets/custom.css.scss */
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

/* line 51, app/assets/stylesheets/custom.css.scss */
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
/* line 58, app/assets/stylesheets/custom.css.scss */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

/* line 68, app/assets/stylesheets/custom.css.scss */
#logo:hover {
  color: white;
  text-decoration: none;
}

/* Signin block */
/* line 75, app/assets/stylesheets/custom.css.scss */
.middlePage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

/* booking form */
/* line 83, app/assets/stylesheets/custom.css.scss */
.new_booking {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* footer 

footer {
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
*/
/* sidebar */
/* line 107, app/assets/stylesheets/custom.css.scss */
aside section {
  padding: 10px 0;
  border-top: 1px solid #eee;
}

/* line 110, app/assets/stylesheets/custom.css.scss */
aside section:first-child {
  border: 0;
  padding-top: 0;
}

/* line 114, app/assets/stylesheets/custom.css.scss */
aside section span {
  display: block;
  margin-bottom: 3px;
  line-height: 1;
}

/* line 119, app/assets/stylesheets/custom.css.scss */
aside section h1 {
  font-size: 1.4em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 0px;
}

/* line 129, app/assets/stylesheets/custom.css.scss */
.gravatar {
  float: left;
  margin-right: 10px;
}

/* line 134, app/assets/stylesheets/custom.css.scss */
.stats {
  overflow: auto;
}

/* line 136, app/assets/stylesheets/custom.css.scss */
.stats a {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #eee;
  color: gray;
}

/* line 141, app/assets/stylesheets/custom.css.scss */
.stats a:first-child {
  padding-left: 0;
  border: 0;
}

/* line 145, app/assets/stylesheets/custom.css.scss */
.stats a:hover {
  text-decoration: none;
  color: blue;
}

/* line 150, app/assets/stylesheets/custom.css.scss */
.stats strong {
  display: block;
}

/* line 155, app/assets/stylesheets/custom.css.scss */
.user_avatars {
  overflow: auto;
  margin-top: 10px;
}

/* line 158, app/assets/stylesheets/custom.css.scss */
.user_avatars .gravatar {
  margin: 1px 1px;
}

/* forms */
/* line 165, app/assets/stylesheets/custom.css.scss */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 172, app/assets/stylesheets/custom.css.scss */
input {
  height: auto !important;
}

/* line 176, app/assets/stylesheets/custom.css.scss */
#error_explanation {
  color: #f00;
}

/* line 178, app/assets/stylesheets/custom.css.scss */
#error_explanation ul {
  list-style: none;
  margin: 0 0 18px 0;
}

/* Users index */
/* line 190, app/assets/stylesheets/custom.css.scss */
.users {
  list-style: none;
  margin: 0;
}

/* line 193, app/assets/stylesheets/custom.css.scss */
.users li {
  overflow: auto;
  padding: 10px 0;
  border-top: 1px solid #eee;
}

/* line 197, app/assets/stylesheets/custom.css.scss */
.users li:last-child {
  border-bottom: 1px solid #eee;
}

/* miscellaneous */
/* line 205, app/assets/stylesheets/custom.css.scss */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* microposts */
/* line 215, app/assets/stylesheets/custom.css.scss */
.microposts {
  list-style: none;
  margin: 10px 0 0 0;
}

/* line 219, app/assets/stylesheets/custom.css.scss */
.microposts li {
  overflow: auto;
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}

/* line 226, app/assets/stylesheets/custom.css.scss */
.content {
  display: block;
}

/* line 229, app/assets/stylesheets/custom.css.scss */
.timestamp {
  color: #777;
}

/* line 232, app/assets/stylesheets/custom.css.scss */
.gravatar {
  float: left;
  margin-right: 10px;
}

/* line 238, app/assets/stylesheets/custom.css.scss */
aside textarea {
  height: 100px;
  margin-bottom: 5px;
}

/* affichage de la map google */
/* line 245, app/assets/stylesheets/custom.css.scss */
#map-container {
  height: 400px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
}

/* line 254, app/assets/stylesheets/custom.css.scss */
#map-canvas {
  height: 384px;
  width: 100%;
}

/* Bootstrap Css Map Fix*/
/* line 260, app/assets/stylesheets/custom.css.scss */
#map-container #map-canvas img {
  max-width: none;
}

/* Bootstrap Css Map Fix*/
/* line 264, app/assets/stylesheets/custom.css.scss */
#map-container #map-canvas label {
  width: auto;
  display: inline;
}

/* Design formulaire client */
/* line 270, app/assets/stylesheets/custom.css.scss */
.price-box {
  margin: 0 auto;
  background: #E9E9E9;
  border-radius: 10px;
  padding: 40px 15px;
  width: 500px;
}

/* line 278, app/assets/stylesheets/custom.css.scss */
.ui-widget-content {
  border: 1px solid #bdc3c7;
  background: #e1e1e1;
  color: #222222;
  margin-top: 4px;
}

/* line 285, app/assets/stylesheets/custom.css.scss */
.ui-state-default, .ui-widget-content .ui-state-default {
  background: transparent !important;
  border: none !important;
}

/* line 289, app/assets/stylesheets/custom.css.scss */
.ui-slider .ui-slider-handle label {
  background: #428bca;
  border-radius: 20px;
  width: 5.2em;
}

/* line 295, app/assets/stylesheets/custom.css.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 5.2em;
  height: 100px;
  cursor: default;
  margin: 0 -40px auto !important;
  text-align: center;
  line-height: 35px;
  color: #FFFFFF;
  font-size: 15px;
}

/* line 309, app/assets/stylesheets/custom.css.scss */
.ui-slider .ui-slider-handle .glyphicon {
  color: #FFFFFF;
  margin: 0 3px;
  font-size: 11px;
  opacity: 0.5;
}

/* line 316, app/assets/stylesheets/custom.css.scss */
.ui-corner-all {
  border-radius: 20px;
}

/* line 320, app/assets/stylesheets/custom.css.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -.9em;
}

/* line 324, app/assets/stylesheets/custom.css.scss */
.ui-state-default,
.ui-widget-content .ui-state-default {
  border: 1px solid #f9f9f9;
  background: #3498db;
}

/* line 330, app/assets/stylesheets/custom.css.scss */
.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.5em;
}

/* line 334, app/assets/stylesheets/custom.css.scss */
.ui-slider .ui-slider-handle {
  cursor: pointer;
}

/* line 338, app/assets/stylesheets/custom.css.scss */
.ui-slider a,
.ui-slider a:focus {
  cursor: pointer;
  outline: none;
}

/* line 344, app/assets/stylesheets/custom.css.scss */
.price, .lead p {
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  line-height: 60px;
}

/* line 351, app/assets/stylesheets/custom.css.scss */
h4.great {
  background: #00ac98;
  margin: 0 0 25px -60px;
  padding: 7px 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  display: inline-block;
  -moz-box-shadow: 2px 4px 5px 0 #ccc;
  -webkit-box-shadow: 2px 4px 5px 0 #ccc;
  box-shadow: 2px 4px 5px 0 #ccc;
}

/* line 365, app/assets/stylesheets/custom.css.scss */
.total {
  border-bottom: 1px solid #7f8c8d;
  /*display: inline;
  padding: 10px 5px;*/
  position: relative;
  padding-bottom: 20px;
}

/* line 373, app/assets/stylesheets/custom.css.scss */
.total:before {
  content: "";
  display: inline;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 3px;
  background: #7f8c8d;
  opacity: 0.5;
}

/* line 385, app/assets/stylesheets/custom.css.scss */
.price-slider {
  margin-bottom: 70px;
}

/* line 389, app/assets/stylesheets/custom.css.scss */
.price-slider span {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 13px;
}

/* line 396, app/assets/stylesheets/custom.css.scss */
.form-pricing {
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;
}

/* line 402, app/assets/stylesheets/custom.css.scss */
.price-form {
  background: #ffffff;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  /*-moz-box-shadow:    0 5px 5px 0 #ccc;
    -webkit-box-shadow: 0 5px 5px 0 #ccc;
    box-shadow:         0 5px 5px 0 #ccc;*/
}

/* line 413, app/assets/stylesheets/custom.css.scss */
.form-group {
  margin-bottom: 0;
}

/* line 417, app/assets/stylesheets/custom.css.scss */
.form-group span.price {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 14px;
}

/* line 424, app/assets/stylesheets/custom.css.scss */
.help-text {
  display: block;
  margin-top: 32px;
  margin-bottom: 10px;
  color: #737373;
  position: absolute;
  /*margin-left: 20px;*/
  font-weight: 200;
  text-align: right;
  width: 188px;
}

/* line 436, app/assets/stylesheets/custom.css.scss */
.price-form label {
  font-weight: 200;
  font-size: 21px;
}

/* line 441, app/assets/stylesheets/custom.css.scss */
.ui-slider-range-min {
  background: #2980b9;
}

/* HR */
/* line 447, app/assets/stylesheets/custom.css.scss */
hr.style {
  margin-top: 0;
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}
