<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>Faites des économies</h1>        
            <h3>Rentabilisez vos déplacements grace à vos bagages</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">En savoir plus</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Voyagez serein</h1>        
            <h3>nous sommes là, à vos côtés, pour organiser vos déplacements</h3>
        </hgroup>       
        <button class="btn btn-hero btn-lg" role="button">En savoir plus</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>Une equipe dediée</h1>        
            <h3>Forte capacité de réactivité, d'innovation et de flexibilité </h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">En savoir plus</button>
      </div>
    </div>
  </div> 
</div>