<div class="[ container text-center ]">
  <h1>UNE EQUIPE DEDIÉE</h1>
  <ul class="list-unstyled">
    <li>Avec une forte capacité d'adaptation à vos services et à votre contexte</li>
    <li>Avec une expertise avancée dans le developpement d'applications à destination des grands comptes</li>
  </ul>

  <div class="card-deck" style="width:400px">
    <div class="card">
      <img src="https://picsum.photos/id/2/100/150" class="card-img-top" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://picsum.photos/id/2/100/150" class="card-img-top" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://picsum.photos/id/2/100/150" class="card-img-top" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

</div>