  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th colspan="1"></th>
          <th class="col-md-6">Poids (kg)</th>
          <th class="col-md-6">Volume (cm3)</th>
          <th class="col-md-6">Prix (€)</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'bagages/bagage_body' %>
      </tbody>
    </table>
  </div>