<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body text-center p-5">
          <i class="fas fa-spinner fa-spin fa-3x text-primary mb-3"></i>
          <h3>Redirecting to payment...</h3>
          <p class="text-muted">You will be redirected to our secure payment provider.</p>
        </div>
      </div>
    </div>
  </div>
</div>
