<!--
<footer class="footer"> 
	<small> 
		<a href="http://google.com/">recherche google</a> 
		by Mich Mich
	</small> 
	<nav> 
		<ul> 
			<li><%= link_to "About", propos_path %></li> 
			<li><%= link_to "Contact", contact_path %></li> 
		</ul> 
	</nav> 
</footer>
-->

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                    <h3> About us </h3>
                    <p class="text-left">Takearisk.ca is a unique ecommerce platform that sets the trend in regards to searching, comparing and purchasing new experiences and extreme sports in Canada. Acting as a single point for customers to accomplish these tasks, Takearisk.ca is the intermediate between the different companies that offer their activities and customers in search of thrills.</p>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Latest News </h3>
                    <p>We are Launching this June!</p>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Contact </h3>
                    <ul>
                        <li> <a href="#"> Mon compte </a> </li>
                        <li> <a href="#"> Privacy Policy </a> </li>
                        <li> <a href="#"> Refund Policy </a> </li>
                        <li> <a href="#"> Partenaires </a> </li>
                        <li> <a href="#"> Support </a> </li>
                        <li> <a href="#"> FAQ </a> </li>
                        <li> <a href="#"> Regles d'utilisation </a> </li>
                    </ul>
                </div>

                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Newsletter </h3>
                    <p class="text-left">Keep in touch with Take a Risk. Leave us your e-mail bellow to get the lattest news, promotions and much more!</p>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn bg-gray" type="button">
                                 	SUBSCRIVE	 
                                 	<i class="fa fa-long-arrow-right"> </i> 
                             	</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer MBO Plugin 2018. All right reserved. </p>
            <div class="pull-right">
                <ul class="social">
                    <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>